---
---
<!doctype html>
<html lang="nl">
<link rel="icon" href="/assets/img/favicon-itf.png" type="image/png">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} – Instituut voor Toegepaste Filosofie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>

<header>
  <nav class="main-nav">
    <a class="nav-logo" href="/">
      <img src="/assets/img/itf-logo-zalm.png"
           alt="Instituut voor Toegepaste Filosofie">
    </a>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/over-ons/">Over ons</a>
      <a href="/wat-wij-doen/">Wat wij doen</a>
      <a href="/artikelen/">Artikelen</a>
      <a href="/contact/">Contact</a>
    </div>
  </nav>
</header>


<main>
  {{ content }}
</main>

<footer>
  <p>© Instituut voor Toegepaste Filosofie</p>
</footer>

</body>
</html>
